dt {
    padding: 0 0 5px 0;
}
dd {
    padding: 0 0 10px 10px;
}
dt label {
    font-weight: bold;
    font-size: 12px;
}
dt label.required:before {
    content: "* ";
    color: #ff0000;
}
ul.errors {
    padding: 5px 0 5px 25px;
    color: #ff0000;
}
